{% extends "basetemplate.html" %}
{% load crispy_forms_filters %}
{% block content %}


  <div class="reset-container">
      <div style="margin-top: 10px">
      {% if messages %}
        <div class="messages">
            {% for message in messages %}
                {% if message.tags == "error" %}
                <div class="alert alert-danger">{{ message }}</div>
                    {% else %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
  </div>
      <h2>Reset Password</h2>
    <form class="reset-form" action="" method="post">
        {% csrf_token %}
        <input type="password" name="current-password" placeholder="Current Password" class="">
        <input type="password" name="new-password" placeholder="New Password">
        <input type="password" name="retype-password" placeholder="Retype Password">
        <input type="submit" id="edit-submit" name="op" value="Submit"
        class="form-control-login btn btn-success btn-lg">
    </form>
  </div>

{% endblock %}